
* {
    box-sizing : inherit ; 
}
/* 62.5% <--> 1rem = 10px 
    100%$ <--> 1rem = 16px 
*/
html {
    font-size: 62.5% ; 
    line-height: 1.6rem ;
    font-family : 'Roboto', sans-serif ; 
    box-sizing : border-box ; 
}

.btn-pri{
    width : 100% ; 
    height: 30px ; 
}