<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOHOO | Woments and Mens</title>

    <link rel="icon" href="../static/img/logoboohoo.png">
    <link rel="stylesheet" href="../static/css/style-head-women.css">
    <script src="https://kit.fontawesome.com/9d9613e72c.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="../static/css/cart.css">

</head>

<body>

    {% include "head.html" %}
    <!-- <hr style="border: 1px solid #ddd;">-->
    <section>
        <div class="container">
            <div class="cart">
                <div class="header__cart">
                    <div class="header__cart-count">CART</div>
                    <!-- <div class="header__cart-discount">You are saving $12 on this order </div> -->
                    <a href="checkout" class="header__cart-checkout">
                        <button class="header__cart-checkout-btn">
                            <span class="header__cart-checkout-btn-text">CHECKOUT</span>
                        </button>
                    </a>
                </div>
            </div>
            {% if cart_items %}
            <div class="cart__titile">HURRY WHILE STOCKS LAST!</div>
            <div class="cart" style="margin-bottom: 30px;">
                <div class="body__cart" style="border-top: 1px solid #ddd;">
                    <div class="body__cart--1">
                        <div class="body__cart-box1">
                            <div class="body__cart-box1-text">50% OFF</div>
                            <div class="body__cart-box1-text">50% OFF EVERYTHING!*</div>
                            {% for data in cart_items %}
                            <div class="body__cart-box1-pri">
                                <div class="body__cart-box1-pri__image">
                                    <img src="../static/img/{{ data['image'] }}" alt="" class="box1__img"
                                        style="width: 120px; height: 180px;">
                                </div>
                                <div class="body__cart-box1-pri__content">

                                    <div class="body__cart-box1-pri__content-name">
                                        <div class="body__cart-box1-pri__content-text">
                                            <a href="" class="body__cart-box1-pri__content-name__text">{{
                                                data['name']}}</a>
                                        </div>
                                        <div class="body__cart-box1-pri__content-delete">
                                            <button class="delete-button" style="background-color: #fff; border: 0px;">
                                                <a class="delete" href="/deletecart/{{ data['cartID'] }}" alt="Remove">
                                                    X </a></button>
                                        </div>
                                    </div>
                                    <form method="POST" action="/updatecart/{{ data['cartID'] }}">
                                        <div class="body__cart-box1-pri__content-source" style="padding-left: 1px;
                                    margin-left: -3px;">
                                            <input type="hidden" name="cartID" value="{{ data['cartID'] }}">
                                            <!-- <span class="body__cart-box1-pri__content-source--text "
                                                style="display: none;">cart ID:
                                                {{data['cartID']}}</span> -->
                                            <div class="body__cart-box1-pri__content-info__quantity"
                                                style="padding-top:1px; margin-left: 1px; display: flex;">
                                                <div> QTY:</div>
                                                <input type="number" name="quantity" value="{{ data['qty'] }}" min="1"
                                                    max="{{data['stock']}}" style="margin-left: 10px; width: 35px;">
                                            </div>
                                        </div>

                                        <div class="body__cart-box1-pri__content-info">
                                            <div class="body__cart-box1-pri__content-info__size">
                                                <div class="body__cart-box1-color"
                                                    style="background-color: {{data['color']}};">
                                                </div>
                                                <div class="body__cart-box1-size">
                                                    {{data['size']}}
                                                </div>

                                            </div>
                                            {% if data['stock'] >= data['qty'] %}
                                            <div class="body__cart-box1-pri__content-info__stock">Stock:
                                                {{data['stock']}}
                                            </div>
                                            {% else %}
                                            <div style="display: flex;
                                        flex-direction: column;
                                        align-items: flex-end;">
                                                <div class="body__cart-box1-pri__content-info__stock"
                                                    style="color: red;">
                                                    Stock:
                                                    {{data['stock']}}</div>
                                                <div class="body__cart-box1-pri__content-info__stock"
                                                    style="color: red;">
                                                    Please! Update your quantity</div>
                                            </div>
                                            {% endif %}
                                        </div>

                                        <div class="body__cart-box1-pri__content-final">
                                            <div class="body__cart-box1-pri__content-final__edit">
                                                <button type="submit" style="    background-color: white;
                                                border: none;"> <a class="final__edit"
                                                        style="text-decoration: underline;">Edit</a></button>
                                            </div>
                                            <div class="body__cart-box1-pri__content-final__price">
                                                <span class="final__price-old">${{data['price']}}</span>
                                                <span class="final__price-current">${{data['discounted_price']}}</span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="body__cart--2">
                        <!-- {% if totalPrice %} -->
                        <div class="body__cart-box3">
                            {% if totalPricesale %}
                            <div class="body__cart-box3__price">

                                <div class="body__cart-box3__price-1 box3--row">
                                    <span class="body__cart-box3__price-1--text1">YOUR CART</span>
                                    <span class="body__cart-box3__price-1--text2">${{totalPrice}}</span>
                                </div>

                                <div class="body__cart-box3__price-2 box3--row">
                                    <span class="body__cart-box3__price-2--text1">USA STANDARD SHIPPING</span>
                                    <span class="body__cart-box3__price-2--text2">$9.99</span>
                                </div>
                                <!-- <div class="body__cart-box3__price-2 box3--row">
                                    <span class="body__cart-box3__price-2--text1">SALES TAX</span>
                                    <span class="body__cart-box3__price-2--text2">TBD</span>
                                </div> -->

                                <div class="body__cart-box3__price-2 box3--row">
                                    <span class="body__cart-box3__price-2--text1">DISCOUNT</span>
                                    <span class="body__cart-box3__price-2--text2">-${{sale}}</span>
                                </div>
                                <!-- <div class="body__cart-box3__price-3 box3--row">
                                    <span class="body__cart-box3__price-3--text1">Discounts included</span>

                                </div>
                                <div class="body__cart-box3__price-2 box3--row">
                                    <span class="body__cart-box3__price-2--text1">50% OFF EVERYTHiNG!*</span>
                                    <span class="body__cart-box3__price-2--text2">-$12.00</span>

                                </div> -->
                            </div>

                            <div class="body__cart-box3__pay">
                                <div class="body__cart-box3__pay-price box3--row">
                                    <span class="body__cart-box3__pay-price-1">ORDER TOTAL</span>
                                    <span class="body__cart-box3__pay-price-2">${{totalPricesale}}</span>
                                </div>
                                <div class="body__cart-box3__pay-text1 box3--row">Tax calculated in checkout</div>
                                <a href="checkout" class="body__cart-box3__pay-btn">
                                    <button class="body__cart-box3__pay-btn--1 btn-pri">CHECKOUT</button>
                                </a>

                            </div>
                            {% endif %}
                        </div>
                        <!-- {% endif %} -->
                    </div>

                </div>
            </div>
            {% else %}
            <div class="cart__titile">YOUR CART IS EMPTY</div>
            {% endif %}
            <div class="cart__suggest">
                <div class="cart__suggest-title">
                    <span class="cart__suggest-title__1">WE THINK YOU'LL LOVE</span>
                </div>
                <div class="cart__suggest-product">
                    <div class="cart__suggest-product__items">
                        <div class="cart__suggest-product--img "
                            style="background-image: url(https://media.boohoo.com/i/boohoo/gzz45238_cream_xl?w=450&qlt=default&fmt.jp2.qlt=70&fmt=auto&sm=fit);">
                            <div class="cart__suggest-product__icon">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <button class="btn-product__img">Quick View</button>

                        </div>
                        <div class="cart__suggest-product--info">
                            <a href="" class="cart__suggest-product--info-title">
                                CREAM RETRO SUNGLASSES
                            </a>
                            <div class="cart__suggest-product--info-price">
                                <span class="cart__suggest-product--info-price__current">$7.20 </span>

                                <span class="cart__suggest-product--info-price__old">$12.00</span>
                                <span class="i">|</span>
                                <span class="cart__suggest-product--info-price__sale">40% OFF</span>
                                <div class="cart__suggest-product--info-price__color-1">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart__suggest-product__items">
                        <div class="cart__suggest-product--img "
                            style="background-image: url(https://media.boohoo.com/i/boohoo/fzz39702_chocolate_xl?w=380&qlt=default&fmt.jp2.qlt=70&fmt=auto&sm=fit);">
                            <div class="cart__suggest-product__icon">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <button class="btn-product__img">Quick View</button>
                        </div>
                        <div class="cart__suggest-product--info">
                            <a href="" class="cart__suggest-product--info-title">
                                SQUARE CAT EYE SUNGLASSES
                            </a>
                            <div class="cart__suggest-product--info-price">
                                <span class="cart__suggest-product--info-price__current">$9.00</span>

                                <span class="cart__suggest-product--info-price__old">$18.00</span>
                                <span class="i">|</span>
                                <span class="cart__suggest-product--info-price__sale">50% OFF</span>
                                <div class="cart__suggest-product--info-price__color-2">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart__suggest-product__items">
                        <div class="cart__suggest-product--img "
                            style="background-image: url(https://media.boohoo.com/i/boohoo/dzz32937_black_xl?w=380&qlt=default&fmt.jp2.qlt=70&fmt=auto&sm=fit);">
                            <div class="cart__suggest-product__icon">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <button class="btn-product__img">Quick View</button>

                        </div>
                        <div class="cart__suggest-product--info">
                            <a href="" class="cart__suggest-product--info-title">
                                PU FANNY PACK
                            </a>
                            <div class="cart__suggest-product--info-price">
                                <span class="cart__suggest-product--info-price__current">$10.00 </span>

                                <span class="cart__suggest-product--info-price__old">$22.00</span>
                                <span class="i">|</span>
                                <span class="cart__suggest-product--info-price__sale">55% OFF</span>
                                <div class="cart__suggest-product--info-price__color-3">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart__suggest-product__items">
                        <div class="cart__suggest-product--img "
                            style="background-image: url(https://media.boohoo.com/i/boohoo/fzz39889_black_xl?w=380&qlt=default&fmt.jp2.qlt=70&fmt=auto&sm=fit);">
                            <div class="cart__suggest-product__icon">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <button class="btn-product__img">Quick View</button>

                        </div>
                        <div class="cart__suggest-product--info">
                            <a href="" class="cart__suggest-product--info-title">
                                CHUNKY RECTANGLE OVERSIZED SUNGLASSES
                            </a>
                            <div class="cart__suggest-product--info-price">
                                <span class="cart__suggest-product--info-price__current">$11.00 </span>

                                <span class="cart__suggest-product--info-price__old">$22.00</span>
                                <span class="i">|</span>
                                <span class="cart__suggest-product--info-price__sale">50% OFF</span>
                                <div class="cart__suggest-product--info-price__color-4">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart__suggest-product__items">
                        <div class="cart__suggest-product--img "
                            style="background-image: url(https://media.boohoo.com/i/boohoo/fzz40159_silver_xl?w=380&qlt=default&fmt.jp2.qlt=70&fmt=auto&sm=fit);">
                            <div class="cart__suggest-product__icon">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <button class="btn-product__img">Quick View</button>

                        </div>
                        <div class="cart__suggest-product--info">
                            <a href="" class="cart__suggest-product--info-title">
                                METALLIC CROC CURVED CHAIN CROSS BODY
                            </a>
                            <div class="cart__suggest-product--info-price">
                                <span class="cart__suggest-product--info-price__current">$23.00 </span>

                                <span class="cart__suggest-product--info-price__old">$45.00</span>
                                <span class="i">|</span>
                                <span class="cart__suggest-product--info-price__sale">49% OFF</span>
                                <div class="cart__suggest-product--info-price__color-5">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </section>


    <footer>

        <div class="footerset">
            <strong>CLASS ACTION SETTLEMENT; CHECK YOUR EMAIL FOR $10 GIFT CARDS PLUS COMPLIMENTARY SHIPPING ON ANY
                PURCHASE. CLICK HERE FOR ADDITIONAL INFORMATION:</strong><br>
            <a href="https://www.boohoocapricingsettlement.com/" target="_blank">
                <p>WWW.BOOHOOCAPRICINGSETTLEMENT.COM</p>
            </a>
        </div>
        <div class="b-footer_top">
            <img src="img/usa_payment_fooer_strip_mob_nozip-2111.svg" alt="">
        </div>
        <div class="footercontent">
            <div class="linkk">
                <strong>QUICK LINKS</strong>
                <ul>
                    <li>
                        <a href="#">Track My Order</a>
                        <a href="#" class="fa-solid fa-chevron-up fa-rotate-90"></a>
                    </li>
                    <li>
                        <a href="#">Help</a>
                        <a href="#" class="fa-solid fa-chevron-up fa-rotate-90"></a>
                    </li>
                    <li>
                        <a href="#">Returns</a>
                        <a href="#" class="fa-solid fa-chevron-up fa-rotate-90"></a>
                    </li>
                    <li>
                        <a href="#">Shipping Infor</a>
                        <a href="#" class="fa-solid fa-chevron-up fa-rotate-90"></a>
                    </li>
                </ul>
            </div>


            <div class="sub">
                <div class="sub1">
                    <strong>ABOUT US & MORE</strong>
                    <a href="#">About boohoo</a>
                    <a href="#">Size Guide</a>
                    <a href="#">Get Exclusive Offers & Updates</a>
                    <a href="#">Student Discount</a>
                    <a href="#">Become an Affiliate</a>
                </div>
                <div class="sub1">
                    <strong>INFORMATION</strong>
                    <a href="#">Sustainability</a>
                    <a href="#">Investor Relations</a>
                    <a href="#">Boohoo Social Responsibility</a>
                    <a href="#">Klarna</a>
                    <a href="#">Careers</a>
                    <a href="#">T&Cs</a>
                    <a href="#">PayPal</a>
                    <a href="#">Afterpay</a>
                    <a href="#">Privacy Notice - Updated January 2023</a>
                    <a href="#">About Cookies</a>

                    <a href="#">Sitemap</a>

                </div>

            </div>
            <div class="infor">
                <div class="subscribe">
                    <p>SUBSCRIBE! GET AN EXTRA 10% OFF & INSIDE INFO!*</p>
                    <form onsubmit="return checkEmail()">
                        <input type="email" id="email" name="email" placeholder="Enter your email">
                        <div id="emailError" class="error"></div>
                        <button type="submit">SUBSCRIBE</button>
                    </form>
                    <p>*Extra 10% discount sent via email to new subscribers only. By subscribing, you agree to receive
                        marketing communications from boohoo by email. You can unsubscribe at any point.</p>
                </div>
                <div class="footer-app">
                    <h1>Download The Boohoo App</h1>
                    <p>Hear about exclusive offers, get early access to collabs & quicker checkout</p>
                    <div class="get-app">
                        <div class="scan">
                            <p>SCAN TO DOWNLOAD</p>
                            <div class="qr">
                                <img src="img/BH_app_QR.jpg" alt="">
                            </div>
                        </div>
                        <div class="icon-app">
                            <div class="chplay"><img src="img/GOOGLE_ENG.png" alt=""></div>
                            <div class="appstore"><img src="img/APPLE_ENG.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="country">
                <strong>COUNTRY</strong>
                <select name="country" id="countr">
                    <option value="USA"> USA $</option>
                    <option value="Canada">CAN $</option>
                    <option value="Vietnam">VIE đ</option>

                </select>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-copy">
                <div class="copy">
                    <p>COPYRIGHT © 2023 BOOHOO</p>
                </div>
                <ul class="nav-policy">
                    <li class="access"><a href="#">Accessibility</a></li>
                    <li class="terms"><a href="#">Terms & Conditions</a></li>
                    <li class="privacy-policy"><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="../static/js/main.js"></script>

</body>


</html>