<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOHOO | Woments and Mens</title>

    <link rel="icon" href="../static/img/logoboohoo.png">
    <link rel="stylesheet" href="../static/css/style-head-women.css">
    <script src="https://kit.fontawesome.com/9d9613e72c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="../static/accest/css/style1_women.css">
</head>

<body>

    <header>
        <div class="row">
            <div class="adv" style=" background: #ff7bbb;">
                <div class="ani">
                    <div class="ani1">
                        <a>
                            SPRING SAVINGS - UP TO 80% OFF!
                        </a>
                    </div>


                </div>
                <p>*Discounts may not be based on former prices. <a id="policy">See pricing
                        policy</a> </p>

            </div>
        </div>
        <div class="row">
            <div class=" row1">
                <div class="nav-bar">
                    <a id="bartab" href="#"><span class="material-symbols-outlined">
                            density_medium
                        </span></a>
                    <div class="bartab">
                        <div id="bartab-content" class="bartab-content">
                            <div class="bartab-list">
                                <button id="/women "><a href="#">WOMENS</a></button>
                                <button id="./women"><a href="#">MENS</a></button>
                            </div>
                            <div class="menubartab">
                                <div class="img-menu">50% OFF + FREE SHIPPING!</div>

                                <div class="menubar-list"><a href="#"> OFFERS</a>

                                </div>
                                <div class="menubar-list"><a href="#">NEW IN</a>


                                </div>
                                <div class="menubar-list"><a href="#">ALL CLOTHING</a>


                                </div>
                                <div class="menubar-list"><a href="#">PLUS SIZE CLOTHING</a></div>
                                <div class="menubar-list"><a href="#">TOPS</a></div>
                                <div class="menubar-list"><a href="#">SPRING</a></div>
                                <div class="menubar-list"><a href="#">OCCASION WEAR</a></div>
                                <div class="menubar-list"><a href="#">FESTIVAL OUTFITS</a></div>
                                <div class="menubar-list"><a href="#">SHOP BY FIT</a></div>
                                <div class="menubar-list"><a href="#">SALE</a></div>

                                <div class="img-menu"></div>
                                <div class="emty-element"></div>
                            </div>
                            <div class="menubartab-men">
                                <div class="img-menu-men"></div>

                                <div class="menubar-list"><a href="#"> OFFERS</a></div>
                                <div class="menubar-list"><a href="#">MEN'S NEW IN</a></div>
                                <div class="menubar-list"><a href="#">CLOTHING</a></div>
                                <div class="menubar-list"><a href="#">PLUS & TALL</a></div>
                                <div class="menubar-list"><a href="#">MEN'S ACTIVEWEAR</a></div>
                                <div class="menubar-list"><a href="#">GOING OUT</a></div>
                                <div class="menubar-list"><a href="#">MΛN</a></div>
                                <div class="menubar-list"><a href="#">MEN'S SHOES & ACCESSORIES</a></div>
                                <div class="menubar-list"><a href="#">MEN'S SALE</a></div>

                                <div class="img-menu-men"></div>
                                <div class="emty-element"></div> <!--tạo phần tử rỗng để không bị mất ptu cuối-->
                            </div>
                        </div>
                        <button id="close" onclick="slideOut()"><a href="#" class="fa-solid fa-xmark"></a></button>
                    </div>


                </div>
                <div class="logo-nav">
                    <ul class="nav">
                        <li>
                            <div class="logo">
                                <a href="#"><img src="../static/img/boohoo_logo_black.png" alt=""></a>
                            </div>
                        </li>
                        <li class="list1">
                            <div>
                                <p><a href="/women">WOMENS</a> </p>
                            </div>
                        </li>
                        <li class="list2">
                            <div>
                                <p><a href="/women">MENS</a></p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="search1">
                    <form style="min-width: 100%;display: flex;align-items: center; flex-direction: row-reverse"
                        action="{{ url_for('search') }}" method="get">
                        <input value="{{ search_text}}" name="txt" type="search"
                            placeholder="What are you looking for?">
                        <button type="submit"> <a href="#"><span class="material-symbols-outlined">
                                    search
                                </span></a>
                        </button>
                    </form>
                </div>

                <div class="user">



                    <li> <a id="login-singup" class="fa-regular fa-user" href="#"></a>
                        {% if not last_name %}
                        <div id="containerlogin" class="containerlogin">
                            <div class="container-log">


                                <div class="content hop1">
                                    <div class="header">
                                        <span class="text1">LOGIN</span>
                                        <a href="{{ url_for('login') }}"><button id="delete" onclick="slideOut2()">
                                                <div class="delete">X</div>
                                            </button>
                                        </a>
                                    </div>
                                    <form action="{{ url_for('login') }}" method="POST">
                                        <div class="body body-email">
                                            <span class="text">Email</span>

                                            <input type="text" name="email" class="input input__email">
                                        </div>
                                        <div class="body body-mk">
                                            <span class="text">Password</span>
                                            <div class="pw">
                                                <input type="password" name="password" id="passwordField"
                                                    class="input input__password">
                                                <button class="input__password-show" onclick="showpass(event)">
                                                    Show
                                                </button>
                                            </div>
                                            <!-- <% if (request.getAttribute("error") !=null) { %>
                                                    <p class="error-message"
                                                        style="padding-bottom: 15px; margin-top: -20px; color: red">
                                                        <%= request.getAttribute("error") %>
                                                    </p>
                                                    <% } %> -->
                                        </div>
                                        <div class="save-password">
                                            <a href="" class="save-password__click-on">
                                                <div class="save-password__empty"></div>

                                            </a>

                                            <span class="save-password__text">Remember me</span>
                                        </div>
                                        <div class="click-login">
                                            <a><button type="submit" class=" click-login__login">LOG IN</button></a>
                                            <a href="#" class="click-login__forget">Forgot Password?</a>
                                        </div>
                                    </form>

                                </div>

                                <div class="content hop2">
                                    <a href="/signup">
                                        <button class=" click-login__login">REGISTER</button></a>
                                </div>
                                <div class="img-log"
                                    style="background-image: url(https://media.boohoo.com/i/boohooamplience/375x88_BANNER_NEWIN_2);">
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </li>
                    {% if last_name %}
                    <li style=" border-right:1px solid #ddd; margin-top: 0px; margin-left: -5px; padding-right: 20px;">

                        <a href="/getorder" style="font-size:1.5rem">


                            {{ last_name }}

                        </a>

                    </li>
                    {% endif %}
                    <li style=" margin-top:5px"> <a href="#"><span class="material-symbols-outlined">
                                favorite
                            </span></a></li>
                    <li style=" margin-top:4px"> <a href="#" id="viewcart"><span class="material-symbols-outlined">
                                shopping_bag
                            </span></a>

                        <div class="requestlogin">
                            <p style="color: black;">Please! Log in to view your cart</p>
                        </div>

                    </li>
                    {% if last_name %}
                    <li> <a href="{{ url_for('logout') }}" style=" margin-top:9px">

                            <span class="material-symbols-outlined">
                                logout
                            </span>

                        </a></li>
                    {% endif %}

                </div>

            </div>

        </div>


        <div class="menu">
            <div class="menu-bar">
                {% for data in category %}
                <li class="menu-bar1"><a href="{{ url_for('category', id=data[0]) }}" class="menu-bar11">{{data[1]}}
                    </a>

                </li>


                {% endfor %}
            </div>
        </div>




    </header>
</body>
<script src="../static/js/main.js"></script>
<script>
    document.getElementById("viewcart").addEventListener("click", function (event) {
        event.preventDefault(); // Ngăn chặn hành động mặc định của thẻ 'a'

        // Kiểm tra nếu last_name là rỗng
        var last_name = '{{ last_name }}'; // Lấy giá trị last_name từ template
        if (!last_name.trim()) {
            // Hiển thị thông báo
            document.querySelector('.requestlogin').style.display = 'flex';

            // Ẩn thông báo sau 3 giây
            setTimeout(function () {
                document.querySelector('.requestlogin').style.display = 'none';
            }, 1500);
        } else {
            // Nếu last_name không rỗng, chuyển hướng đến /cart
            window.location.href = '/cart';
        }
    });
</script>

</html>